article h1 {
    font-size: 30px;
}

article h2 {
    font-size: 24px;
}

article h3 {
    font-size: 18px;
}

article h4 {
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    article h1 {
        font-size: 24px;
    }

    article h2 {
        font-size: 18px;
    }

    article h3 {
        font-size: 16px;
    }

    article h4 {
        font-size: 14px;
    }
}